<div class="container" id="contact" name="contact">
    <div class="row">
        <div class="col-lg-4">
            <h3>Contact Information</h3>
            <p>
                <span class="icon icon-home"></span> 3424 Industrial Drive, Durham, NC<br/>
                <span class="icon icon-phone"></span><tel>(800) 841-0355</tel><br/>
                <span class="icon icon-envelop"></span> <a href="#" class="footLink"> info@triangleatlantic.com</a> <br/>
                <span class="icon icon-twitter"></span> <a href="#" class="footLink"> @TriangleAtlantic </a> <br/>
                <span class="icon icon-facebook"></span> <a href="#" class="footLink"> Triangle Atlantic Casket </a> <br/>
            </p>
            <br>
            <h3>Visit Atlantic Urns</h3>
            <p>
                <span class="icon icon-link"></span>
                <a href="#" class="footLink" target="_blank" title="Atlantic Urns"> urns.setechsupport.net</a>
            </p>
        </div>
        <div class="col-lg-4">
        <h3>Mailing List</h3>
        <p>
            Register to our mailing list and be updated with the latests information
            regarding our services, offers and much more.
        </p>
        <p>
            <form
                ng-submit="nav.addEmailToMailingList(emailObj)"
                class="form-horizontal"
                role="form">
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-4 control-label"></label>
                    <div class="col-lg-10">
                        <input
                            ng-model="emailObj.email_address"
                            type="email"
                            class="form-control"
                            id="inputEmail1"
                            placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="text1" class="col-lg-4 control-label"></label>
                    <div class="col-lg-10">
                        <input
                            ng-model="emailObj.users_mailing_name"
                            type="text"
                            class="form-control"
                            id="text1"
                            placeholder="Your Name">
                    </div>
                </div>
                <div
                    ng-show="nav.vars.siteMessage"
                    ng-class="nav.vars.siteClass">
                    {{ nav.vars.siteMessage }}
                </div>
                <div class="form-group">
                    <div class="col-lg-10">
                        <button type="submit" class="btn btn-triAtl">Sign Up</button>
                    </div>
                </div>
            </form>
        </p>
        </div>
        <div class="col-lg-4">
            <h3 style="color: #DF0003;">Message to Public</h3>
            <p>
                While you will find a variety of caskets and other funeral goods, no where on this
                site are there any prices or ordering information, as we do not sell to the public.
                You must contact the local funeral home of your choice to inquire on the price of any
                of our caskets.
            </p>
            <p>
                All of our products are available to any funeral home or crematory licensed in
                North Carolina, South Carolina, and/or Virginia. If the funeral home of your
                choice does not offer our products, please call us at<tel>(800) 841-0355</tel>
                and we will be happy to refer you to funeral homes in your area that do.
            </p>
        </div>
    </div>
</div>
