<!-- Top Div Content-->
<!-- Navbar Navigation Content -->
<div id="atlUrn" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Static Home and toggle grouped for better mobile display -->
        <div class="navbar-header">
            <button
                type="button"
                class="navbar-toggle collapsed main-nav-button"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar main-nav-icons"></span>
                <span class="icon-bar main-nav-icons"></span>
                <span class="icon-bar main-nav-icons"></span>
            </button>
            <a class="navbar-brand" href="/">Triangle Atlantic Casket Company</a>
        </div>
        <div ng-init="nav.vars.check_user_type()"></div>
        <!-- Collect the nav links for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul ng-if="!nav.vars.loggedIn" class="nav navbar-nav">
                <li ng-repeat="item in nav.publicViewNavs">
                    <a class="topLink" href="/{{ item.link }}">
                        <!--<span ng-class="item.spanClass"></span>-->
                        {{ item.display }}
                    </a>
                </li>
            </ul>
            <ul ng-if="nav.vars.loggedIn" class="nav navbar-nav">
                <li ng-if="nav.vars.loggedIn">
                    <a class="topLink" href="/main-menu">
                        Dashboard
                    </a>
                </li>
                <li ng-repeat="item in nav.privateViewNavs">
                    <a class="topLink" href="/{{ item.link }}">
                        <!--<span ng-class="item.spanClass"></span>-->
                        {{ item.display }}
                    </a>
                </li>
                <li ng-if="nav.vars.loggedIn">
                    <a class="topLink" ng-click="nav.doLogout()">
                        <!--<span class="glyphicon glyphicon-log-in"></span>-->
                        Logout
                    </a>
                </li>
            </ul>
            <!-- Float Right Content -->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p style="color: #ffffff;" class="navbar-text">
                        <!--<span class="glyphicon glyphicon-phone-alt"></span>-->
                        <tel>(800) 841-0355</tel>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
