<header style="margin-top: 50px;" id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('dist/images/fullCarouselBg.png');"></div>
                <div class="carousel-caption">
<!--
<img class="img-responsive carouselImg" src="dist/images/isoCasket.png"> -->
                    <h2>View the featured casket for July<br> </h2>
<a class="btn btn-lg btn-triAtl" href="#">Featured Casket</a>
<br><br>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url(' dist/images/fullCarouselBg.png');"></div>
                <div class="carousel-caption">
                    <h2>Featured Item or Call to Action Here.</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url(' dist/images/fullCarouselBg.png');"></div>
                <div class="carousel-caption">
                    <h2>Looking for a Cremation Keepsake for your loved one?</h2><br>
<a class="btn btn-lg btn-triAtl" href="http://urns.setechsupport.net" target="_blank">Visit Atlantic Urns</a>
<br><br>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
