<div
    ng-init="main.initMainSlider()"
    class="triangle-main-slider">
    <div class="tacc-slider-block">
        <div class="tacc-inner-slide">
            <h2 class="slider-h2">
                View the featured casket for July
            </h2>
            <p>
                <a class="slide-button-atlantic slide-1" href="/">Featured Casket</a>
            </p>
        </div>
    </div>
    <div class="tacc-slider-block">
        <div class="tacc-inner-slide">
            <h2 class="slider-h2">
                Featured Item or Call to Action Here.
            </h2>
        </div>
    </div>
    <div class="tacc-slider-block">
        <div class="tacc-inner-slide">
            <h2 class="slider-h2">
                Looking for a Cremation Keepsake for your loved one?
            </h2>
            <p>
                <a
                    class="slide-button-atlantic slide-2"
                    href="http://urns.setechsupport.net"
                    target="_blank">Visit Atlantic Urns</a>
            </p>
        </div>
    </div>
</div>
