@charset "utf-8";
/* Styling for Triangle Atlantic Casket Company */


/* Universal Styles */
body {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

main {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.whiteBg {
	background-color: #ffffff;
}

.centered {
    text-align: center;
}

	  /* Text can be white with dropshadow */
	  
	  .dropShadow {
		  color: #000000;
		  text-shadow: 0px 0px 10px #ffffff;
	  }
	  
	  /*Shadow behind Text */
	  .backBlur {
		  background-image: url(../assets/transBg.png);
		  padding: 10px;
	  }

/* Custom Blue Button */
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 600;
    letter-spacing: 1px;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-triAtl {
    background: #263174;
    color: #ffffff;
}
 
.btn-triAtl:hover, .btn-triAtl:focus, .btn-triAtl:active, .btn-triAtl.active, .open > .dropdown-toggle.btn-triAtl {
    background: #d7d7d7;
}
 
.btn-triAtl:active, .btn-triAtl.active {
    background: #263174;
    box-shadow: none;
}

.btnCenter {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

/* Image Styles */

.topLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.carouselImg {
	margin-left: auto;
	margin-right: auto;
}

/* NavBar Styles */
#atlUrn.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#atlUrn.navbar-default {
    font-size: 18px;
    background-color: rgba(38, 49, 116, 1);
    border-bottom-width: 0px;
}
#atlUrn.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(38, 49, 116, 1);
}
#atlUrn.navbar-default .navbar-nav>li>a:hover,
#atlUrn.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(130, 178, 226, 1);
}
#atlUrn.navbar-default .navbar-nav>.active>a,
#atlUrn.navbar-default .navbar-nav>.active>a:hover,
#atlUrn.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(38, 49, 116, 1);
}
#atlUrn.navbar-default .navbar-toggle {
    border-color: #263174;
}
#atlUrn.navbar-default .navbar-toggle:hover,
#atlUrn.navbar-default .navbar-toggle:focus {
    background-color: #263174;
}
#atlUrn.navbar-default .navbar-toggle .icon-bar {
    background-color: #263174;
}
#atlUrn.navbar-default .navbar-toggle:hover .icon-bar,
#atlUrn.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #263174;
}

#altUrn.navbar-text {
	color: #ffffff;
}

/* Welcome Content */

.Welcome {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}


/* Main Exclusive Styles */

.alignMid {
	margin-left: auto;
	margin-right: auto;
}

p.spacedBot {
	padding-bottom: 15px;
	font-size: 16px;
}

/* Restyle Footer Elements*/
    footer {
    	background-color: #82b2e2;
    	padding: 25px;
		border-top: 1px solid #000000;
		text-align: left;
    }

#footerwrap {
	background: #2b2b2b;
	margin-top: 0px;
	padding-top: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	text-align: center;
	width: 100%;
}

#footerwrap h4 {
	color: white;
}

/* FootLinks */
	  a.footLink:link {
	font-size: 14px;
	color: #404040;
	  }
	  
	  a.footLink:hover {
	text-decoration: none;
        color: #ffffff;
}

/* Carousel CSS*/

@media (max-width: 992px){
	.carouselImg {
		display: none !important;
	}
}

/* Catalog Navigation Styles */

/* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }