<main role="main" class="inner-page-padding">
    <div class="row">
        <div class="col-lg-5">
            <img class="img-responsive" src="dist/images/aboutSupport.png" style="margin-left: auto; margin-right: auto;">
        </div>
        <div class="col-lg-7">
            <h2 class="text-center">About Triangle Atlantic Casket Company</h2>
            <p>For more than 25 years, funeral professionals in the Southeast have come to rely on and trust Triangle Atlantic.   We are dedicated to serving this noble profession by offering caskets of superior quality; providing unparalleled delivery and service, and selling at a price that creates exceptional value for funeral directors and the families they serve.</p>

            <p>When a loved one passes away, it’s only natural that friends and family want to honor that life with a fitting tribute. The funeral is the final measure of the esteem we hold for our dearly departed loved ones.  As a distributor of funeral products, we are well aware of the importance of our work and the closure our products help bring about for grieving families.
            </p>
        </div>
    </div>
</main>
