<section class="contact-page-section">
    <h2>Contact Us:</h2>
    <div ng-if="main.vars.siteMessage" ng-class="main.vars.siteClass">
        <p>{{ main.vars.siteMessage }}</p>
    </div>
    <form ng-if="main.vars.contactFormActive" class="form-group"
          ng-submit="main.contactTa(main.contactUs)">
        <input type="text" class="form-control" placeholder="Name" ng-model="main.contactUs.name">
        <input type="email" class="form-control" placeholder="Email" ng-model="main.contactUs.email">
        <input type="number" class="form-control" placeholder="Phone" ng-model="main.contactUs.phone">
        <textarea class="form-control" placeholder="Message" ng-model="main.contactUs.message"></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>
