<!--LOGGED OUT USER VIEW-->
<div ng-if="main.vars.loggedIn">
    <div ng-init="main.vars.redirectToUserType()"></div>
</div>
<div ng-if="!main.vars.loggedIn">
    <main class="inner-page-padding">
        <div class="login-right-side-form-wrapper">
        		<h1>Log In</h1>
            <p>Enter your user name and password below and click the Sign In button.</p>
        		<form
                class="login-form"
                ng-submit="main.anyUserLogin(main.vars.taUser)">
                <div ng-show="main.vars.processing">
                    <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="form-group">
                    <label>Username:</label>
                    <input type="text"
                            class="form-control"
                            placeholder="Username"
                            ng-model="main.vars.taUser.username" />
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password"
                            class="form-control"
                            placeholder="Password"
                            ng-model="main.vars.taUser.password" />
                </div>
                <div
                    ng-show="main.vars.siteMessage"
                    ng-class="main.vars.siteClass">{{ main.vars.siteMessage }}
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
    </main>
    <div class="allclear"></div>
</div>
<!--LOGGED IN USER VIEW-->
<div ng-if="main.vars.loggedIn" class="row-fluid col-sm-6 col-sm-offset-3">
    <h3>You are logged into an account already.</h3>
</div>
