<main role="main" class="inner-page-padding">
    <div class="container">
        <div id="ta-show-products" class="row">
            <h2 class="text-center">Products</h2>
            <div
                ng-init="main.getCategories()"
                class="col-md-3">
            		<div id="categories-column-wrapper" class="row">
            				<ul id="catalog-column-ul" class="nav">
                        <li
                            ng-repeat="category in main.allProductCategories"
                            role="presentation">
                            <a href="/show-products/{{ category.category_code }}">
                                {{ category.category_description }}
                            </a>
                        </li>
                    </ul>
            		</div>
            </div>
            <div
                ng-init="main.getProductsByCategoryCode()"
                class="col-md-9">
            		<div id="products-column-wrapper" class="row">
                    <div
                        ng-repeat="product in main.productsFoundByCode"
                        class="col-sm-6 col-md-4 short-thumbnail-wrapper">
                        <a href="/single-product/{{ product.product_code }}" class="thumbnail">
                            <img
                                ng-src="./media_library/{{ product.thumbnail_image }}"
                                alt="{{ product.product_name }}">
                            <div class="caption">
                                <h4>{{ product.product_name }}</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
