<div class="whiteBg">
    <main role="main">
        <!-- H1 for SEO and Welcome Content -->
        <div class="row">
            <img class="topLogo brand-home-content" src="dist/images/tempLogo.png">
            <h1 class="text-center">Triangle Atlantic Casket Company</h1>
            <p>
                We are proud to be a wholesale casket distributor serving
                the independent funeral directors of North Carolina, South
                Carolina, and Virginia.  From our office in Durham, our
                family has been serving funeral homes for more than 80
                years and our approach has remained simple:  provide our
                customers with quality products and superior service at
                affordable prices to help families honor their loved ones
                and to help keep funeral homes successful.
            </p>
            <p>
                We have long understood that funeral service is about
                listening to people’s needs and then providing care and
                compassion.  That should also be true for companies that
                work with funeral professionals. That’s why we want to
                hear what you have to say about us. If you would like to
                send us a message with a comment, suggestion or question,
                please contact us.
            </p>
            <br><br>
        </div>
        <br>
        <!-- Standout Features -->
        <div class="container ">
            <h2 class="text-center">Learn more about what makes us an industry leader...</h2>
            <br>
            <div class="row">
                <div class="col-lg-4 col-sm-12 text-center"> <img class="img-circle" alt="Family Operated" style="width: 140px; height: 140px;" src="dist/images/smCircle01.png" data-holder-rendered="true">
                    <h4>Family Operated</h4>
                    <p class="text-left">At Triangle Atlantic, we take great pride in the fact that like our customers, we are family owned and operated. We feel our family focus helps us to better serve you and your families.  We can offer you the flexibility, service and care that the other casket companies can’t and understand that we must earn your trust and your business every day. </p>
                </div>
                <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="Quality Made" style="width: 140px; height: 140px;" src="dist/images/smCircle02.png" data-holder-rendered="true">
                    <h4>Quality Made</h4>
                    <p class="text-left">We offer a full range of the highest quality metal and hardwood caskets in a wide assortment of styles, colors, and prices to accommodate the needs and preferences of all the families you serve.   If you like, our representatives will work with you to design a tailored merchandising plan that offers families the best choices and the highest quality in the industry.</p>
                </div>
                <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="Customer Service" style="width: 140px; height: 140px;" src="dist/images/smCircle03.png" data-holder-rendered="true">
                    <h4>Exceptional Customer Service</h4>
                    <p class="text-left">We understand the time-sensitive nature of funeral service and know the importance of being there for funeral directors with the right product and at the right time.  When you call us, you won’t get one of those automated phone systems where you can’t reach a real person.   We still answer our own phones with a live person – whether you’re calling your sales rep, your local warehouse, or the Triangle Atlantic office.  We know how vital it is for you to reach someone quickly and easily.</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 col-sm-12 text-center"> <img class="img-circle" alt="Reliable Delivery" style="width: 140px; height: 140px;" src="dist/images/smCircle04.png" data-holder-rendered="true">
                    <h4>Reliable Delivery</h4>
                    <p class="text-left">Funeral professionals count on us to deliver the products they need to serve families. We have one of the best delivery teams in the industry to deliver the right products when they are needed.  After all, the best casket in the world is worthless if it doesn’t arrive on time and in pristine condition.  We go beyond making sure products are delivered when they are needed; our drivers also have an unquestionable commitment to safety. </p>
                </div>
                <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="Straightforward Pricing" style="width: 140px; height: 140px;" src="dist/images/smCircle04.png" data-holder-rendered="true">
                    <h4>Straightforward Pricing</h4>
                    <p class="text-left">Fair and honest pricing is our policy and unlike major casket companies, we do not play games with contracts and discounts. We do business the way it used to be by offering one low price to every funeral home – regardless of their size, ownership or selection room representation.  Our universal pricing policy means a funeral professional can be sure that the price he or she pays is the right price. No matter how small the funeral home or large the order, every Triangle Atlantic customer can be sure the price is the fairest possible in every instance. </p>
                </div>
                <div class="col-lg-4 col-sm-12 text-center"><img class="img-circle" alt="Custom Funeral Product Solutions" style="width: 140px; height: 140px;" src="dist/images/smCircle04.png" data-holder-rendered="true">
                    <h4>Custom Funeral Product Solutions</h4>
                    <p class="text-left">At Triangle Atlantic, we don't believe in cookie cutter solutions for your funeral home.  Just as you serve each family individually with compassion and caring, we believe that your casket selection room should not be 'one size fits all.   Every Triangle Atlantic customer has unique needs and brings different concerns to the table. Our sales professionals have decades of experience to help create a solution that's right for you.</p>
                </div>
            </div>
            <br>
        </div>
        <hr>
        <br><br>
        <!--Jumbotron for Call to Action -->
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-9 col-lg-9">
                        <p>Looking for a beautiful keepsake or Urn for your departed loved one? Visit Atlantic Urns and browse our catalog of cherishable products.</p>
                    </div>
                    <div class=" text-center col-sm-6 col-lg-3 col-sm-offset-3 col-md-3 col-xs-offset-4 col-xs-5 col-lg-offset-0">
                        <a class="btn btn-lg btn-triAtl" href="http://urns.setechsupport.net" target="_blank">Atlantic Urns</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </main>
</div>
