/*____special classes to use__________________*/
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
  z-index: 22; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.allclear {
  position: relative;
  width: 100%;
  clear: both; }

img {
  width: 100%;
  margin: 0;
  padding: 0; }

.vertically-align-elements {
  top: 50%;
  transform: translateY(-50%); }

.verticallyAlignElements, .tacc-slider-block .tacc-inner-slide {
  top: 50%;
  transform: translateY(-50%); }

.inner-view-padding {
  padding: 0 15px; }

@media (min-width: 768px) {
  .mobile-item {
    display: none !important; } }

.desktop-item {
  display: none !important; }
  @media (min-width: 768px) {
    .desktop-item {
      display: block !important; } }

.site-header {
  min-height: 50px; }
  @media (min-width: 1040px) {
    .site-header {
      min-height: 55px; } }
  .site-header .main-nav-icons {
    background-color: #ffffff !important; }

.navbar-brand {
  font-size: 10px !important; }
  @media (min-width: 450px) {
    .navbar-brand {
      font-size: 18px !important; } }

.main-nav-ul li a .drop-icon {
  font-size: 9px;
  top: -1px; }

.main-nav-ul li .tacc-dropdown-ul li {
  position: relative;
  display: block; }
  .main-nav-ul li .tacc-dropdown-ul li a {
    display: block;
    padding: 10px 15px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none; }
    .main-nav-ul li .tacc-dropdown-ul li a:hover {
      text-decoration: none;
      background-color: #82b2e2; }

.brand-home-content {
  max-width: 260px; }

.triangle-main-slider {
  position: relative;
  width: 100%;
  height: 300px;
  background: url("../../dist/images/fullCarouselBg.png");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.tacc-slider-block {
  position: relative;
  height: 300px; }
  .tacc-slider-block .tacc-inner-slide {
    position: absolute;
    right: 15%;
    left: 15%; }
    .tacc-slider-block .tacc-inner-slide p a {
      text-align: center; }

.slider-h2 {
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }

p {
  display: block; }
  p .slide-button-atlantic {
    display: block;
    margin: 0 auto;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    background-color: #263174;
    color: #ffffff;
    text-align: center; }
    p .slide-button-atlantic:hover {
      text-decoration: none;
      color: #000000;
      background-color: #aaaaaa;
      outline: none; }
    p .slide-button-atlantic:active {
      text-decoration: none;
      color: #000000;
      background-color: #aaaaaa;
      outline: none; }
    p .slide-button-atlantic:visited {
      text-decoration: none;
      color: #ffffff;
      outline: none; }
  p .slide-1 {
    max-width: 165px; }
  p .slide-2 {
    max-width: 190px; }

.slick-dots {
  bottom: 15px; }

.slick-next {
  right: 15px;
  z-index: 10; }

.slick-prev {
  left: 15px;
  z-index: 10; }

.login-right-side-form-wrapper {
  width: 100%;
  max-width: 450px;
  margin: 0;
  padding: 0; }

.topLink {
  cursor: pointer; }

.image-library-block-ul-li {
  float: left;
  width: 100%;
  height: 140px;
  overflow: hidden; }
  @media (min-width: 400px) {
    .image-library-block-ul-li {
      width: 45%; } }
  @media (min-width: 768px) {
    .image-library-block-ul-li {
      width: 20%; } }
  .image-library-block-ul-li img {
    max-width: 100px; }

.library-height-contrain {
  height: 400px;
  overflow: auto;
  margin: 30px 0;
  padding: 20px;
  border: 1px solid #000000; }

.short-thumbnail-wrapper {
  min-height: 360px !important; }
  .short-thumbnail-wrapper .search-anchor-element {
    color: #000000;
    text-decoration: none; }
  .short-thumbnail-wrapper .thumbnail {
    max-height: 220px;
    min-height: 220px; }

.sidebar-nav-active {
  display: block !important; }

.sidebar-nav-custom-class {
  display: none; }
  @media (min-width: 1200px) {
    .sidebar-nav-custom-class {
      display: block; } }

@media (min-width: 1200px) {
  .side-nav-full {
    display: none; } }
