<div
    ng-show="main.vars.siteMessage"
    ng-class="main.vars.siteClass">
    {{ main.vars.siteMessage }}
</div>
<div
    ng-if="!main.vars.loggedIn"
    class="row-fluid inner-view-padding upper-section">
    <div class="jumbotron">
        <p>Please log in to view this page.</p>
    </div>
</div>
<div ng-if="main.vars.loggedIn" class="inner-view-padding">
    <div class="form-group">
        <div class="row-fluid">
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-2">
            <div ng-include src="'app/views/includes/admin-side-nav.html'"></div>
        </div>
        <div class="col-lg-10">
            <h3>Change Admin Password</h3>
            <div
                ng-init="main.getUserAdminInfo()"
                class="row-fluid">
                <div class="col-md-6">
                    <form ng-submit="main.changeAdminPassword(main.newUserObj)">
                        <div class="row-fluid">
                    <span class="label label-success">
                        <strong>Username: {{ main.userObj.username }}</strong>
                    </span>
                        </div>
                        <div class="form-group">
                            <label>Current Password</label>
                            <input
                                class="form-control"
                                type="text"
                                name="current_password"
                                placeholder="Current Password"
                                ng-model="main.userObj.password">
                        </div>
                        <div class="form-group">
                            <label>New Password: (8 character minimum)</label>
                            <input
                                class="form-control"
                                type="text"
                                name="new_password"
                                placeholder="New Password"
                                ng-model="main.newUserObj.new_password">
                        </div>
                        <div class="form-group">
                            <label>Confirm Password: (8 character minimum)</label>
                            <input
                                class="form-control"
                                type="text"
                                name="confirm_password"
                                placeholder="Confirm Password"
                                ng-model="main.newUserObj.matched_password">
                        </div>
                        <div class="btn-group">
                            <input
                                class="btn btn-success"
                                type="submit"
                                value="Change!">
                        </div>
                    </form>
                </div>
                <div class="allclear"></div>
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
