<div
    ng-show="main.vars.siteMessage"
    ng-class="main.vars.siteClass">
    {{ main.vars.siteMessage }}
</div>
<div
    ng-if="!main.vars.loggedIn"
    class="row-fluid inner-view-padding upper-section">
    <div class="jumbotron">
        <p>Please log in to view this page.</p>
    </div>
</div>
<div ng-if="main.vars.loggedIn" class="inner-view-padding">
    <div id="ta-admin-edit-master-info-wrapper upper-section" class="form-group">
        <div class="row-fluid">
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-2">
            <div ng-include src="'app/views/includes/admin-side-nav.html'"></div>
        </div>
        <div class="col-lg-10">
            <h3>Edit Master Info</h3>
            <div ng-init="main.getUserAdminInfo()" style="display: none;"></div>
            <form ng-submit="main.editCurrentUsersInfo(main.vars.usersObj)">
                <div class="form-group">
                    <label>Contact Person</label>
                    <input class="form-control" type="text" ng-model="main.vars.usersObj.contact_person"
                           placeholder="Contact Person" id="master-info-contact-person">
                </div>
                <div class="form-group">
                    <label>Company Name</label>
                    <input class="form-control" type="text" ng-model="main.vars.usersObj.fac_name"
                           placeholder="Company Name" id="master-info-company-name">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input class="form-control" type="text" ng-model="main.vars.usersObj.address_1"
                           placeholder="Address" id="master-info-address">
                </div>
                <div class="form-group">
                    <label>Address2</label>
                    <input class="form-control" type="text" ng-model="main.vars.usersObj.address_2"
                           placeholder="Address2" id="master-info-address2">
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input class="form-control" type="text" ng-model="main.vars.usersObj.city" placeholder="City"
                           id="master-info-city">
                </div>
                <div class="form-group">
                    <label>State</label>
                    <input class="form-control" type="text" ng-model="main.vars.usersObj.state" placeholder="State"
                           id="master-info-state">
                </div>
                <div class="form-group">
                    <label>Zip Code</label>
                    <input class="form-control" type="text" ng-model="main.vars.usersObj.zip" placeholder="Zip Code"
                           id="master-info-zip-code">
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input class="form-control" type="text" ng-model="main.vars.usersObj.phone" placeholder="Phone"
                           id="master-info-phone">
                </div>
                <div class="form-group">
                    <label>E-mail</label>
                    <input class="form-control" type="text" ng-model="main.vars.usersObj.email" placeholder="E-mail"
                           id="master-info-email">
                </div>
                <div class="form-group">
                    <label>Web Address</label>
                    <input class="form-control" type="text" ng-model="main.vars.usersObj.web" placeholder="Web Address"
                           id="master-info-web-address">
                </div>
                <div class="form-group">
                    <label>Fax</label>
                    <input class="form-control" type="text" ng-model="main.vars.usersObj.fax" placeholder="Fax"
                           id="master-info-fax">
                </div>
                <input class="btn btn-default" type="submit" value="Save!"/>
                <div
                    ng-show="main.vars.siteMessage"
                    ng-class="main.vars.siteClass">
                    {{ main.vars.siteMessage }}
                </div>
            </form>
        </div>
    </div>
</div>
<div class="allclear"></div>
<hr>
