<div
    ng-show="main.vars.siteMessage"
    ng-class="main.vars.siteClass">
    {{ main.vars.siteMessage }}
</div>
<div
    ng-if="!main.vars.loggedIn"
    class="row-fluid inner-view-padding upper-section">
    <div class="jumbotron">
        <p>Please log in to view this page.</p>
    </div>
</div>
<div ng-if="main.vars.loggedIn">
    <div class="form-group">
        <div class="row-fluid">
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-2">
            <div ng-include src="'app/views/includes/admin-side-nav.html'"></div>
        </div>
        <div class="col-lg-10">
            <div
                ng-init="main.getAllUsers()"
                class="row-fluid inner-view-padding upper-section">
                <h2
                    ng-if="main.vars.access_level === '1'">
                    All User Credentials
                </h2>
                <table
                    ng-if="main.vars.access_level === '1'"
                    class="table table-hover">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Account Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in main.allUsersObj">
                        <td>{{ item.username }}</td>
                        <td>{{ item.password }}</td>
                        <td>{{ item.access_level }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>