<div
    ng-show="main.vars.siteMessage"
    ng-class="main.vars.siteClass">
    {{ main.vars.siteMessage }}
</div>
<div
    ng-if="!main.vars.loggedIn"
    class="row-fluid inner-view-padding upper-section">
    <div class="jumbotron">
        <p>Please log in to view this page.</p>
    </div>
</div>
<div ng-if="main.vars.loggedIn" class="inner-view-padding">
    <div id="ta-main-menu" class="row-fluid">
        <div class="row-fluid">
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-2">
            <div ng-include src="'app/views/includes/admin-side-nav.html'"></div>
        </div>
        <div class="col-lg-10">
            <div ng-show="main.vars.editCategory" id="edit-category-block" class="row inner-page-padding">
                <h4 ng-if="main.vars.access_level === '1'">Edit Category</h4>
                <form ng-if="main.vars.access_level === '1'"
                      ng-submit="main.adminEditCategory(main.vars.adminCategoryObj)">
                    <div class="form-group">
                        <label>Name: {{ main.vars.adminCategoryObj.category_description }}</label>
                        <input class="form-control" type="text"
                               ng-model="main.vars.adminCategoryObj.category_description" id="cat-code">
                    </div>
                    <div class="form-group">
                        <label>Select a New Photo (from the gallery below):</label>
                        <p>"{{ main.vars.adminCategoryObj.image_name }}"</p>
                        <!-- <p>"{{ main.vars.adminCategoryObj.category_image }}"</p> -->
                        <!-- <input class="form-control" type="text" ng-model="main.vars.adminCategoryObj.file_name" id="image-name"> -->
                    </div>
                    <div class="btn-group">
                        <input class="btn btn-success" type="submit" value="go!" id="submit-button">
                        <span
                            ng-click="main.closeEditCategory()"
                            class="btn btn-danger"
                            id="close-category-editing">close editing</span>
                    </div>
                    <div
                        ng-show="main.vars.siteMessage"
                        ng-class="main.vars.siteClass">
                        {{ main.vars.siteMessage }}
                    </div>
                </form>
                <div
                    ng-if="main.vars.access_level === '1'"
                    ng-init="main.getImageLibrary()"
                    class="row-fluid image-library-block library-height-contrain">
                    <h3>Media Library</h3>
                    <ul class="image-library-block-ul">
                        <li class="image-library-block-ul-li" ng-repeat="item in main.mediaObj">
                            <span>{{ item.image_name }}</span> <br>
                            <img
                                src="media_library/{{ item.file_name }}"
                                alt="{{ item.image_name }}"
                                ng-click="main.addCategoryImageString(item)">
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="row-fluid">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li ng-repeat="page in main.imageObjPagination.page_range">
                                    <span ng-click="main.getPagedImageLibrary(page)">{{ page }}</span>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="allclear"></div>
                </div>
            </div>
            <div
                ng-init="main.getCategories()"
                id="admin-catalog-column-wrapper" class="row">
                <div ng-repeat="category in main.allProductCategories"
                     class="col-sm-6 col-md-4 product-thumb-wrapper">
                    <div class="thumbnail">
                        <a href="/show-admin-products/{{ category.category_code }}"
                           class="catalog-image-anchor">
                            <img
                                ng-src="./media_library/{{ category.category_image }}"
                                alt="Hardwoods">
                        </a>
                        <div class="caption">
                            <h3>{{ category.category_description }}</h3>
                            <p>
                                {{ category.category_description }}
                                <button
                                    ng-if="main.vars.access_level === '1'"
                                    ng-click="main.editCategory(category)"
                                    class="btn btn-sm btn-warning edit-category">Edit
                                </button>
                                <br>
                            </p>
                            <hr>
                            <p></p>
                            <p>
                                <a
                                    href="/show-admin-products/{{ category.category_code }}"
                                    class="btn btn-primary"
                                    role="button">View</a>
                            </p>
                        </div>
                    </div>
                    <div class="allclear"></div>
                </div>
            </div>
            <div id="main-menu-all-caskets-div" class="row">
                <!-- <a href="<?php //echo base_url(); ?>index.php/allcaskets" class="btn btn-info">Show All Caskets</a> -->
            </div>
        </div>
    </div>
</div>
<div class="allclear"></div>
<hr>
