<div
    ng-show="main.vars.siteMessage"
    ng-class="main.vars.siteClass">
    {{ main.vars.siteMessage }}
</div>
<div
    ng-if="!main.vars.loggedIn"
    class="row-fluid inner-view-padding upper-section">
    <div class="jumbotron">
        <p>Please log in to view this page.</p>
    </div>
</div>
<div ng-if="main.vars.loggedIn" class="inner-view-padding">
    <div ng-if="main.vars.access_level === '2'" class="form-group">
        <p>(user will see your store only).</p>
    		<form ng-submit="main.createPublicUser(main.vars.publicUser)">
    				<div class="col-md-6">
    						<div class="form-group">
    								<label>Name: <span class="label label-danger">required</span></label>
    								<input class="form-control" type="text" ng-model="main.vars.publicUser.contact_person" placeholder="Contact Person">
    						</div>
    						<div class="form-group">
    								<label>User Name: <span class="label label-danger">required</span></label>
    								<input class="form-control" type="text" ng-model="main.vars.publicUser.username" placeholder="User Name">
    						</div>
    						<div class="form-group">
    								<label>Password: <span class="label label-danger">required</span></label>
    								<input class="form-control" type="password" ng-model="main.vars.publicUser.password" placeholder="Password">
    						</div>
    						<div class="form-group">
    								<label>E-mail Address: <span class="label label-danger">required</span></label>
    								<input class="form-control" type="text" ng-model="main.vars.publicUser.email" placeholder="E-mail Address">
    						</div>
    						<input class="btn btn-default" type="submit" value="Create!" />
                <div
                    ng-show="main.vars.siteMessage"
                    ng-class="main.vars.siteClass">
                    {{ main.vars.siteMessage }}
                </div>
    				</div>
    		</form>
    </div>
    <div ng-if="main.vars.access_level !== '2'" class="jumbotron">
        <p>Please log into your store account in order to use this feature.</p>
    </div>
    <div class="allclear"></div>
    <hr>
</div>
