<div
    ng-show="main.vars.siteMessage"
    ng-class="main.vars.siteClass">
    {{ main.vars.siteMessage }}
</div>
<div
    ng-if="!main.vars.loggedIn"
    class="row-fluid inner-view-padding upper-section">
    <div class="jumbotron">
        <p>Please log in to view this page.</p>
    </div>
</div>
<div ng-if="main.vars.loggedIn" class="inner-view-padding">
    <div class="form-group">
        <div class="row-fluid">
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-2">
            <div ng-include src="'app/views/includes/admin-side-nav.html'"></div>
        </div>
        <div class="col-lg-10">
            <h3>Remove Category</h3>
            <div id="ta-admin-remove-category">
                <div
                    ng-init="main.getAdminCategories()"
                    class="col-md-3">
                    <div id="categories-column-wrapper" class="row">
                        <ul id="catalog-column-ul" class="nav">
                            <li
                                ng-repeat="category in main.adminCategories"
                                role="presentation">
                        <span>
                            {{ category.category_description }}
                        </span>
                                <div class="">
                            <span
                                ng-hide="main.vars.deleteCategory"
                                ng-click="main.callDeleteCategory()"
                                class="btn btn-warning remove-admin-product">Delete
                            </span>
                                </div>
                                <div class="btn-group">
                              <span
                                  ng-show="main.vars.deleteCategory"
                                  ng-click="main.deleteCategory(category._id)"
                                  class="btn btn-danger final-removal-option">Really Delete
                              </span>
                                    <span
                                        ng-show="main.vars.deleteCategory"
                                        ng-click="main.cancelDeleteCategory()"
                                        class="btn btn-default cancel-removal-option">Cancel Delete
                              </span>
                                </div>
                                <hr>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="allclear"></div>
<hr>
