<div
    ng-show="main.vars.siteMessage"
    ng-class="main.vars.siteClass">
    {{ main.vars.siteMessage }}
</div>
<div
    ng-if="!main.vars.loggedIn"
    class="row-fluid inner-view-padding upper-section">
    <div class="jumbotron">
        <p>Please log in to view this page.</p>
    </div>
</div>
<div ng-if="main.vars.loggedIn">
    <div class="form-group inner-view-padding">
    		<h1>Create Funeral Home</h1>
    		<?php
            echo form_open_multipart('admin_create_funeral_home');
        ?>
    				<div class="col-md-6">
    						<div class="form-group">
    								<label>Name: <span class="label label-danger">required</span></label>
    								<input class="form-control" type="text" name="contact_person" placeholder="Contact Person">
    						</div>
    						<div class="form-group">
    								<label>Funeral Home: <span class="label label-danger">required</span></label>
    								<input class="form-control" type="text" name="Fac_name" placeholder="Funeral Home">
    						</div>
    						<div class="form-group">
    								<label>Phone: <span class="label label-danger">required</span></label>
    								<input class="form-control" type="number" name="phone" placeholder="Phone">
    						</div>
    						<div class="form-group">
    								<label>Address: <span class="label label-danger">required</span></label>
    								<input class="form-control" type="text" name="addr" placeholder="Address">
    						</div>
    						<div class="form-group">
    								<label>Address2: <span class="label label-default">optional</span></label>
    								<input class="form-control" type="text" name="addr2" placeholder="Address2">
    						</div>
    						<div class="form-group">
    								<label>City: <span class="label label-danger">required</span></label>
    								<input class="form-control" type="text" name="city" placeholder="City">
    						</div>
    						<div class="form-group">
    								<label>State: <span class="label label-danger">required</span></label>
    								<input class="form-control" type="text" name="state" placeholder="State">
    						</div>
    						<div class="form-group">
    								<label>Zip: <span class="label label-danger">required</span></label>
    								<input class="form-control" type="number" name="zip" placeholder="Zip">
    						</div>
    						<div class="form-group">
    								<label>Administrative User Name: <span class="label label-danger">required</span></label>
    								<input class="form-control" type="text" name="usr_nm" placeholder="Administrative User Name">
    						</div>
    						<div class="form-group">
    								<label>Administrative Password: <span class="label label-danger">required</span></label>
    								<input class="form-control" type="password" name="passwd" placeholder="Administrative Password">
    						</div>
    						<div class="form-group">
    								<label>Web Address <span class="label label-default">optional</span></label>
    								<input class="form-control" type="text" name="web" placeholder="Web Address">
    						</div>
    						<div class="form-group">
    								<label>E-mail Address: <span class="label label-danger">required</span></label>
    								<input class="form-control" type="text" name="email" placeholder="E-mail Address">
    						</div>
    						<input class="btn btn-default" type="submit" value="Create!" />
    				</div>
    		</form>
    </div>
</div>
<div class="allclear"></div>
<hr>
