<div
    ng-show="main.vars.siteMessage"
    ng-class="main.vars.siteClass">
    {{ main.vars.siteMessage }}
</div>
<div
    ng-if="!main.vars.loggedIn"
    class="row-fluid inner-view-padding upper-section">
    <div class="jumbotron">
        <p>Please log in to view this page.</p>
    </div>
</div>
<main ng-if="main.vars.loggedIn" role="main" class="inner-page-padding">
    <div class="container">
        <div id="ta-show-products" class="row">
            <div ng-show="main.vars.editProduct"
                id="edit-admin-product-block"
                class="row-fluid">
								<h4 ng-if="main.vars.access_level === '1'">Edit Product</h4>
								<form ng-if="main.vars.access_level === '1'" ng-submit="main.adminEditProduct(main.vars.adminProductObj)">
										<div class="form-group">
												<label>Name</label>
												<input class="form-control" type="text" ng-model="main.vars.adminProductObj.product_name" placeholder="Name" id="product-name">
										</div>
										<div class="form-group">
												<label>Category</label>
												<select class="form-control" ng-model="main.vars.adminProductObj.category_code" id="product-cat-code">
														<option value="">Select a Category</option>
														<option
                                ng-repeat="category in main.allProductCategories"
                                value="{{ category.category_code }}"> {{ category.category_description }}
                            </option>
										 		</select>
										</div>
										<div class="form-group">
								        <label>Product Description</label> <br>
								        <input class="form-control" type="text" ng-model="main.vars.adminProductObj.product_description" placeholder="Product Description" id="product_description">
										</div>
										<div class="form-group">
								        <label>Color / Finish</label> <br>
								        <input class="form-control" type="text" ng-model="main.vars.adminProductObj.color_finish" placeholder="Color" id="product-color">
										</div>
										<div class="form-group">
								        <label>Material</label> <br>
								        <input class="form-control" type="text" ng-model="main.vars.adminProductObj.material" placeholder="Material" id="product-material">
										</div>
										<div class="form-group">
												<!-- CURRENTLY NO DATABASE COLUMN FOR THE FIELD "Model / Style" -->
								        <label>Model / Style</label> <br>
								        <input class="form-control" type="text" ng-model="main.vars.adminProductObj.model_style" placeholder="Model / Style" id="product-model-style">
										</div>
										<div class="form-group">
								        <label>Price</label> <br>
								        <input class="form-control" type="text" ng-model="main.vars.adminProductObj.base_price" placeholder="Price" id="product-base-price">
										</div>
										<div class="form-group">
								        <label>Interior</label> <br>
								        <input class="form-control" type="text" ng-model="main.vars.adminProductObj.interior" placeholder="Interior" id="product-interior">
										</div>
										<div class="form-group">
												<label>Select a New Photo (from the gallery below):</label>
												<p>"<span id="product-image-display-name">{{ main.vars.adminProductObj.image_name }}</span>"</p>
												<!-- <input class="form-control" type="text" ng-model="main.vars.adminProductObj.thumbnail_image" id="product-image-name"> -->
										</div>
										<div class="btn-group">
												<input class="btn btn-success" type="submit" value="go!" id="submit-button">
												<span ng-click="main.closeEditProduct()" class="btn btn-danger" id="close-category-editing">close editing</span>
										</div>
                    <div
                        ng-show="main.vars.siteMessage"
                        ng-class="main.vars.siteClass">
                        {{ main.vars.siteMessage }}
                    </div>
								</form>
                <div ng-if="main.vars.access_level === '1'" ng-init="main.getImageLibrary()" class="row-fluid image-library-block library-height-contrain">
                    <h3>Media Library</h3>
                    <ul class="image-library-block-ul">
                        <li class="image-library-block-ul-li" ng-repeat="item in main.mediaObj">
                            <span>{{ item.image_name }}</span> <br>
                            <img
                                src="media_library/{{ item.file_name }}"
                                alt="{{ item.image_name }}"
                                ng-click="main.addProductImageString(item)">
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="row-fluid">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li ng-repeat="page in main.imageObjPagination.page_range">
                                    <span ng-click="main.getPagedImageLibrary(page)">{{ page }}</span>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="allclear"></div>
                </div>
						</div>
            <div
                ng-init="main.getCategories()"
                class="col-md-3">
            		<div id="categories-column-wrapper" class="row">
            				<ul id="catalog-column-ul" class="nav">
                        <li
                            ng-repeat="category in main.allProductCategories"
                            role="presentation">
                            <a href="/show-admin-products/{{ category.category_code }}">
                                {{ category.category_description }}
                            </a>
                        </li>
                    </ul>
            		</div>
            </div>
            <div
                ng-init="main.getProductsByCategoryCode()"
                class="col-md-9">
            		<div id="products-column-wrapper" class="row">
                    <div
                        ng-repeat="product in main.productsFoundByCode"
                        class="col-sm-6 col-md-4 short-thumbnail-wrapper">
                        <a href="/single-admin-product/{{ product.product_code }}" class="thumbnail">
                            <img
                                ng-src="./media_library/{{ product.thumbnail_image }}"
                                alt="{{ product.product_name }}">
                            <div class="caption">
                                <h4>{{ product.product_name }}</h4>
                            </div>
                        </a>
                        <div ng-if="main.vars.access_level === '1'" class="btn-group">
                              <span
                                  ng-hide="main.vars.deleteProduct"
                                  ng-click="main.editProduct(product)"
                                  class="btn btn-primary edit-admin-product">Edit
                              </span>
                              <span
                                  ng-hide="main.vars.deleteProduct"
                                  ng-click="main.callDeleteProduct()"
                                  class="btn btn-warning remove-admin-product">Delete
                              </span>
                              <span
                                  ng-show="main.vars.deleteProduct"
                                  ng-click="main.deleteProduct(product.product_code)"
                                  class="btn btn-danger final-removal-option">Really Delete
                              </span>
                              <span
                                  ng-show="main.vars.deleteProduct"
                                  ng-click="main.cancelDelete()"
                                  class="btn btn-default cancel-removal-option">Cancel Delete
                              </span>
                        </div>
                        <div class="allclear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
