<div
    ng-show="main.vars.siteMessage"
    ng-class="main.vars.siteClass">
    {{ main.vars.siteMessage }}
</div>
<div
    ng-if="!main.vars.loggedIn"
    class="row-fluid inner-view-padding upper-section">
    <div class="jumbotron">
        <p>Please log in to view this page.</p>
    </div>
</div>
<main ng-if="main.vars.loggedIn" role="main" class="inner-page-padding">
    <div class="container">
        <div id="ta-show-products" class="row">
            <div
                ng-init="main.getCategories()"
                class="col-md-3">
            		<div id="categories-column-wrapper" class="row">
            				<ul id="catalog-column-ul" class="nav">
                        <li
                            ng-repeat="category in main.allProductCategories"
                            role="presentation">
                            <a href="/show-admin-products/{{ category.category_code }}">
                                {{ category.category_description }}
                            </a>
                        </li>
                    </ul>
            		</div>
            </div>
            <div ng-init="main.getUserAdminInfo()">
                <div ng-if="main.vars.priceAdjustments">
                    <div
                        ng-init="main.getSingleProductByCode()"
                        class="col-md-9">
                     		<div id="single-product-wrapper" class="row">
                            <img ng-src="./media_library/{{ main.activeSingleProduct.thumbnail_image }}" alt="Clifton">
                        </div>
                     		<div class="row">
                     				<ul ng-if="main.vars.access_level === '1'" id="product-details-ul">
                                <li><strong>Name:</strong> {{ main.activeSingleProduct.product_name }}</li>
                                <li><strong>Material:</strong> {{ main.activeSingleProduct.material }}</li>
                                <li><strong>Finish:</strong> {{ main.activeSingleProduct.color_finish }}</li>
                                <li><strong>Price:</strong> {{ main.activeSingleProduct.base_price | currency:"$":0 }}</li>
                                <li><strong>Interior:</strong> {{ main.activeSingleProduct.interior }}</li>
                            </ul>
                            <ul ng-if="main.vars.access_level === '2'" ng-init="main.getUserAdminInfo()">
                                <li><strong>Name:</strong> {{ main.activeSingleProduct.product_name }}</li>
                                <li><strong>Material:</strong> {{ main.activeSingleProduct.material }}</li>
                                <li><strong>Finish:</strong> {{ main.activeSingleProduct.color_finish }}</li>
                                <!-- <li ng-if="!main.vars.optOutOption"><strong>Supplier Base Price:</strong> {{ main.activeSingleProduct.base_price | currency:"$":0 }}</li> -->
                                <li ng-if="!main.vars.optOutOption"><strong>Your Price:</strong> {{ main.vars.currentCustomerProductPrice | currency:"$":0 }}</li>
                                <li ng-if="!main.vars.optOutOption"><strong>Your Customer's Price:</strong> {{ main.yourCustomersProductPrice | currency:"$":0 }}</li>
                                <li ng-if="main.vars.optOutOption">
                                    <strong>Price:</strong>
                                    {{ main.activeSingleProduct.base_price | currency:"$":0 }}
                                </li>
                                <li ng-if="!main.vars.optOutOption"><strong>Your Customized Markup Rate:</strong> {{ main.vars.usersObj.price_rounding }}%</li>
                                <li><strong>Interior:</strong> {{ main.activeSingleProduct.interior }}</li>
                            </ul>
                            <ul ng-if="main.vars.access_level === '4'" ng-init="main.getUserAdminInfo()">
                                <li><strong>Name:</strong> {{ main.activeSingleProduct.product_name }}</li>
                                <li><strong>Material:</strong> {{ main.activeSingleProduct.material }}</li>
                                <li><strong>Finish:</strong> {{ main.activeSingleProduct.color_finish }}</li>
                                <!-- <li><strong>Price:</strong> {{ main.activeSingleProduct.base_price | currency:"$":0 }}</li> -->
                                <li><strong>Interior:</strong> {{ main.activeSingleProduct.interior }}</li>
                            </ul>
                            <ul ng-if="main.vars.access_level === '5'">
                                <li><strong>Name:</strong> {{ main.activeSingleProduct.product_name }}</li>
                                <li><strong>Material:</strong> {{ main.activeSingleProduct.material }}</li>
                                <li><strong>Finish:</strong> {{ main.activeSingleProduct.color_finish }}</li>
                                <li><strong>Price:</strong> {{ main.vars.currentCustomerProductPrice | currency:"$":0 }}</li>
                                <li><strong>Interior:</strong> {{ main.activeSingleProduct.interior }}</li>
                            </ul>
                     		</div>
                        <div class="allclear"></div>
                        <div class="row-fluid">
                            <a
                                href="/print-product-details/{{ main.activeSingleProduct.product_code }}"
                                target="_blank"
                                class="btn btn-primary">
                                Print
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
