<div
    ng-show="main.vars.siteMessage"
    ng-class="main.vars.siteClass">
    {{ main.vars.siteMessage }}
</div>
<div
    ng-if="!main.vars.loggedIn"
    class="row-fluid inner-view-padding upper-section">
    <div class="jumbotron">
        <p>Please log in to view this page.</p>
    </div>
</div>
<div ng-if="main.vars.loggedIn" class="inner-view-padding">
    <div class="form-group">
        <div class="row-fluid">
            <div class="col-lg-12">
                <hr>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-2">
            <div ng-include src="'app/views/includes/admin-side-nav.html'"></div>
        </div>
        <div class="col-lg-10">
            <h3>Upload Media Library</h3>
            <div ng-if="main.vars.access_level === '1'" class="form-group">
                <form
                    class="form-group"
                    ng-submit="main.uploadToImageLibrary(main.vars.uploadImageObj)" novalidate>
                    <br>
                    <label ng-show="!main.vars.editImageInfo">Image File</label>
                    <input ng-show="!main.vars.editImageInfo"
                        id="media-photo-thumbnail-image"
                        class="form-control"
                        name="image"
                        type="file"
                        fileread="main.vars.uploadImageObj.media_thumbnail.raw_file"
                        ng-multiple="true"/>
                    <br/>
                    <label>Image Name</label><br>
                    <input
                        class="form-control"
                        type="text"
                        ng-model="main.vars.uploadImageObj.image_name">
                    <br/>
                    <label>Image Caption</label><br>
                    <textarea
                        class="form-control"
                        name="image_caption"
                        rows="4"
                        cols="30"
                        ng-model="main.vars.uploadImageObj.image_caption"></textarea>
                    <br/>
                    <input
                        ng-show="!main.vars.editImageInfo"
                        class="btn btn-sm btn-success"
                        type="submit"
                        value="upload"/>
                    <button
                        ng-show="main.vars.editImageInfo"
                        ng-click="main.cancelEditing()"
                        class="btn btn-sm btn-danger"
                        type="button">
                        cancel editing
                    </button>
                    <button
                        ng-show="main.vars.editImageInfo"
                        ng-click="main.updateImageMedia()"
                        class="btn btn-sm btn-warning"
                        type="button">
                        update image
                    </button>
                </form>
                <hr>
                <div id="ta-image-library-thumb-block" class="row-fluid">
                    <div id="library-div" class="row"></div>
                </div>
            </div>
            <div ng-if="main.vars.access_level === '1'" ng-init="main.getImageLibrary()"
                 class="row-fluid image-library-block library-height-contrain">
                <h3>Media Library</h3>
                <hr>
                <ul class="image-library-block-ul">
                    <li class="image-library-block-ul-li" ng-repeat="item in main.mediaObj">
                        <span>{{ item.image_name }}</span> <br>
                        <img src="media_library/{{ item.file_name }}" alt="{{ item.image_name }}">
                        <div class="btn-group">
                            <button
                                ng-click="main.editImageMedia(item)"
                                class="btn btn-sm btn-primary"
                                type="button">edit
                            </button>
                            <button
                                ng-click="main.removeImageMedia(item._id)"
                                class="btn btn-sm btn-danger"
                                type="button">delete
                            </button>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <hr>
                <div class="row-fluid">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li ng-repeat="page in main.imageObjPagination.page_range">
                                <span ng-click="main.getPagedImageLibrary(page)">{{ page }}</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div ng-if="main.vars.access_level !== '1'" class="jumbotron">
                <p>Please log in as an administrator to use this feature.</p>
            </div>
        </div>
    </div>
</div>
<div class="allclear"></div>
<hr>
